/* common styles */
#root {
  max-width: 1300px;
  width: 100%;
  overflow: hidden;
}
body, a {
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: unset;
}
h1 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 30px;
}
h2 {
  font-weight: 600;
}
h3 {
  font-size: 1.4rem;
}
th, tr {
  border: 1px solid #5958588a;
  padding: 8px;
}
th, td {
  text-align: left;
  padding-left: 20px;
}
button {
  background-color: #ff5757;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
header, footer {
  color: #fff;
  background-color: black;
  min-height: 50px;
  align-content: center;
}

/* header styles */
header {
  padding: 0 30px;
}
header a {
  color: #fff;
}
header .content,
header .right-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .right-section {
  gap: 20px;
}
.cart-icon img {
  width: 35px;
}

/* Hero section */
#hero-section img {
  width: 100%;
}

/* new arrivals section */
#new-arrivals {
  padding: 20px 10px;
}
#products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#products-list .item input {
  max-width: 60px;
  margin-right: 10px;
}
#products-list .item {
  width: 20%;
  min-width: 280px;
  float: left;
  min-height: 180px;
  box-shadow: 0 2px 8px 0 #d3d8dd;
  margin: 8px;
  padding: 10px;
  align-content: center;
}
#products-list .item label {
  margin-right: 5px;
}
#products-list .item img {
  margin-bottom: 10px;
}
#products-list .price {
  font-weight: 700;
}

/* bottom banner */
#bottom-banner img {
  width: 100%;
  height: 100%;
}

/* Cart page */
#cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 10px 30px;
  justify-content: center;
}
#cart-items table {
  width: 75%;
  height: 100%;
}
#cart-items .subtotal {
  width: 20%;
  padding: 20px 10px;
}
#cart-items .subtotal {
  width: 20%;
  border: 1px solid #5958588a;
}
#cart-items .grand-total {
  font-size: 1.3rem;
  font-weight: 700;
}
#cart-content > button {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  #cart-items {
    flex-direction: column;
    align-items: center;
  }
  #cart-items table {
    width: 90%;
  }
  #cart-items .subtotal {
    width: 50%;
  }
}

/* checkout page */
#checkout form > div {
  margin: 15px 0;
}
#checkout label {
  margin-right: 10px;
}

/* Admin Page */
#dashboard td {
  border: 1px solid #5958588a;
}
#dashboard tr {
  padding-right: 20px !important;
}
#dashboard tr td:last-child {
  padding-right: 20px !important;
}

/* login page */
.login-form input {
  margin-right: 10px;
}

/* dashboard */
#dashboard {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 40px 20px;
}
#dashboard aside {
  width: 20%;
  text-align: left;
  border-right: 1px solid #5958588a;
}
#dashboard aside li:not(:first-child) {
  margin: 15px 0;
}
#dashboard .content {
  flex: 1;
  text-align: left;
  padding: 0 20px;
}

/* products dashboard */
#products-dashboard #add-product {
  margin: 25px 0 20px;
}
#create-product form {
  margin-top: 30px;
}
#create-product form label {
  margin-right: 10px;
}
#create-product form > div {
  margin: 15px 0;
}
